<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "dormroof/partials/includes.html" %}
	</head>

	<body>
		<div class="container page">
				<div class="span-24">
						
					Welcome {{user_info.user.first_name}}

					<a href="{% url dormroof.views.browse %}">See who lives in your building!</a>
					</br>
					<a href="{% url dormroof.views.logout %}">Logout</a>
					</br>

				</div>
		{% if user_info.is_ra == 1 %}
			<a href= "{% url dormroof.views.manage %}">Manage your floor</a>	
		{% endif %}
		</div>

	{% include "trackme/partials/footer.html" %}




