<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "dormroof/partials/includes.html" %}
	</head>

	<body>
		<div class="container page">
			<div class="padding span-16 append-2">
				<div class="span-24">
					<div id="contact">
						<form action="{% url dormroof.views.login %}" method="post">
							{% csrf_token %}
							<fieldset>
								<label for="username">Username:</label>
								<input name="username" type="text" id="username" placeholder="Enter your username" />
								
								<label for="password">Password:</label>
								<input name="password" type="password" id="password" placeholder="Enter your password" />
								
								<input type="submit" value="Log In" />
							</fieldset>
						</form>
					</div>
				</div>
			</div>

		</div>

	{% include "trackme/partials/footer.html" %}