<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "thoughts/partials/includes.html" %}
	</head>

	<body>
		<div class="container page">
			{% include "thoughts/partials/header.html" %}

			<div class="padding span-16 append-2">
				{% for entry in latest_entries %}
					<div class="post">
						<h2 class="post-title">{{entry.title}}</h2> 
						<h3 class="post-date">{{entry.pub_date}}</h3>
						{% autoescape off %}
							<p class="content">{{entry.content|truncatewords:80}} <a href="{{ entry.get_absolute_url }}">Read more</a> </p>				
						{% endautoescape %}
					</div>
				{% endfor %}
			</div>

			{% include "thoughts/partials/recent_posts.html" %}
			{% include "thoughts/partials/footer.html" %}