<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "thoughts/partials/includes.html" %}
	</head>

	<body>
		<div class="container page">
			{% include "thoughts/partials/header.html" %}
			<div class="span-24">
					<h1 class="center" style="width: 500px; margin-top: -120px;margin-left: -170px;"> Well, this is awkward...</h1>
					<img class="center" src="{{STATIC_URL}}/images/Broken-icon.png" alt="" />
			</div>


		</div>

	{% include "thoughts/partials/footer.html" %}